<%- include('partials/header') %>

<h2>Erreur 404 - Page non trouvée</h2>
<div>
    <h3>La page demandée n'existe pas</h3>
    <br>
    <img alt="image erreur 404" src="/img/Cuisson au feu de bois.jpg"/>

    <a href="/admin/commandes"> <button class="button">retour</button></a>
</div>

<%- include('partials/footer') %>