<%- include('partials/header') %>

<h2>Valider la suppression du lieu pour cette date</h2>


<a href="/admin/dates-livraison/suppressionlieu/<%= id %>"><button>Valider la suppression</button></a>
<br>
<br>
<a href="/admin/dates-livraison/"><button>Annuler la suppression</button></a>

<%- include('partials/footer') %>