<%- include('partials/header') %>

<h2>Valider la suppression du pain de cette commande</h2>

<a href="/admin/commandes/suppression/<%= id %>"><button class="button">Valider la suppression</button></a>
<br>
<br>
<a href="/admin/commandes"><button class="button">Annuler les modifications</button></a>

<%- include('partials/footer') %>